<div class="wrapper">
  <div class="header mb-3">
    <h5>Form Controls</h5>
  </div>

  <div class="row row-full-width">
    @for (type of types; track type) {
      <input
        archangelFormControl
        [disabled]="false"
        [background]="type === 'transparent' ? '' : type === 'disabled' ? 'primary' : type"
        [rounded]="true"
        [border]="true"
        [size]="'large'"
        [placeholder]="type === 'disabled' ? 'Disabled input' : 'Sample input'"
        [disabled]="type === 'disabled'"
      />
    }
  </div>

  <div class="row row-full-width">
    @for (type of types; track type) {
      <input
        archangelFormControl
        [disabled]="false"
        [background]="type === 'transparent' ? '' : type === 'disabled' ? 'primary' : type"
        [rounded]="true"
        [border]="true"
        [size]="'medium'"
        [placeholder]="type === 'disabled' ? 'Disabled input' : 'Sample input'"
        [disabled]="type === 'disabled'"
      />
    }
  </div>

  <div class="row row-full-width mb-5">
    @for (type of types; track type) {
      <input
        archangelFormControl
        [disabled]="false"
        [background]="type === 'transparent' ? '' : type === 'disabled' ? 'primary' : type"
        [rounded]="true"
        [border]="true"
        [size]="'small'"
        [placeholder]="type === 'disabled' ? 'Disabled input' : 'Sample input'"
        [disabled]="type === 'disabled'"
      />
    }
  </div>

  <div class="row mb-5">
    <archangel-checkbox type="default" color="primary" size="large">Default</archangel-checkbox>
    <archangel-checkbox type="default" color="secondary" size="medium">Default</archangel-checkbox>
    <archangel-checkbox type="default" color="black" size="small">Default</archangel-checkbox>

    <archangel-checkbox type="rounded" color="primary" size="large">Rounded</archangel-checkbox>
    <archangel-checkbox type="rounded" color="secondary" size="medium">Rounded</archangel-checkbox>
    <archangel-checkbox type="rounded" color="black" size="small">Rounded</archangel-checkbox>

    <archangel-checkbox type="switch" color="primary" size="large">Switch</archangel-checkbox>
    <archangel-checkbox type="switch" color="secondary" size="medium">Switch</archangel-checkbox>
    <archangel-checkbox type="switch" color="black" size="small">Switch</archangel-checkbox>
  </div>

  <div class="row mb-5">
    <archangel-radios [options]="radioOptions" [size]="'large'" />
    <archangel-radios [options]="radioOptions" [size]="'medium'" />
    <archangel-radios [options]="radioOptions" [size]="'small'" />
  </div>

  <div class="row mb-5">
    <archangel-range-select [size]="'large'" [value]="20" />
    <archangel-range-select [size]="'medium'" [value]="50" />
    <archangel-range-select [size]="'small'" [value]="80" />
  </div>

  <div class="row">
    <archangel-range-picker [size]="'large'" [valueA]="0" [valueB]="50" />
    <archangel-range-picker [size]="'medium'" [valueA]="0" [valueB]="75" />
    <archangel-range-picker [size]="'small'" [valueA]="0" [valueB]="100" />
  </div>
</div>
