@import "../../../projects/archangel-12-angular-devkit/styles/mixins";

.wrapper {
  background-color: #2a33417d;
  padding: 20px;
  margin-bottom: 40px;
  border-radius: 20px;
  border: 1px solid var(--background-color);

  h5 {
    border-bottom: 1px dashed var(--background-color);
    padding-bottom: 12px;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }

    @include desktop() {
      &.row-full-width button {
        flex: 1 1 30%;
      }
    }

    @include mobile() {
      button {
        flex: 50%;
      }
    }
  }
}
