@import '../../../projects/archangel-12-angular-devkit/styles/mixins';

.wrapper {
  background-color: #2a33417d;
  padding: 40px;
  margin-bottom: 40px;
  border-radius: 20px;
  border: 1px solid var(--black-color);

  h5 {
    border-bottom: 1px dashed var(--background-color);
    padding-bottom: 12px;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }

    @include desktop() {
      archangel-range-select {
        flex: 1 1 30%;
      }

      archangel-range-picker {
        flex: 1 1 30%;
      }
    }

    @include mobile() {
      gap: 60px;

      archangel-range-select,
      archangel-range-picker {
        flex: 1 1 100%;
        width: 100%;
      }
    }
  }
}
